@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color:black;    
}

#link-title {
	text-decoration: none;
}

.bg {
    background-image: url('../img/bg.jpg');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
    background-attachment: fixed;
}

.navbar-brand img {
    width: 190px; 
    height: 60px;
}

/*.navbar-nav li {
    padding-left: 20px;

}*/

/*.nav-link {
    font-size: 20px;
} */

.logo-rounded-bd {
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    border-bottom-left-radius: 110px;
    border-bottom-right-radius: 110px;
}

.rounded-bd {
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.filters {
    font-family: 'Open Sans Condensed', sans-serif;
    /*background-color: rgba(126, 225, 255, 0.6);*/
    font-size: 16px;
    margin-top: 1em;
    max-height: 80vh;
}

.find-place {
    text-align: center; 
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 10px;
}

.label label {
    margin-bottom: 0;
    margin-top: 10px;
}

.main-block {
    font-size: 16px;
    margin: 1em;
    max-height: 75vh;
    overflow-y: scroll;
}

.img {
    width: 100%;
}

.places {
    /*background-color: rgba(126, 225, 255, 0.6);*/
    font-size: 16px;
    padding: 15px;
    margin-bottom: 1em;
    transition: transform .1s linear;

}

.places p {
    margin-bottom: 0;
    color: black;
}

.places hr {
    margin-top: 1px; 
    margin-bottom: 3px
}

/*.navbar-nav a:hover {
    color: rgb(12, 161, 45) !important;
    text-shadow: 0px 0px 2px rgb(12, 161, 45);
}*/

#navbarResponsive {
	display: flex;
	height: 100%;
}

.nav-link {
/*padding: 10px 30px; */
	/*font-family: 'Open Sans Condensed', sans-serif;*/
	margin-left: 30px;
	position: relative;

	font-size: 18px;
	color: #2B2A2C;
	text-transform: uppercase;
	font-weight: 500;
	text-decoration: none;

	/*border: 2px solid transparent;*/
	/*border-radius: 20px;*/
}

/*.nav-link:hover {
	border-color: #2B2A2C;
}
*/

/*.nav-link:after {
	content: "";
	width: 0;
	height: 2px;
	background-color: #2B2A2C;

	position: absolute;
	bottom: -5px;
	left: 0;
	z-index: 1;

	transition: width .2s linear;
}*/

/*.nav-link:hover:after {
	width: 100%;
}*/

.nav-link:hover {
	opacity: .5;
}


.filters button:hover {
	opacity: .5;
}

.places:hover {
    transform: translateY(-5px);
    /*transition: width .9s linear;*/
}

.navbar-brand img:hover {
    box-shadow: 0px 0px 5px rgb(12, 161, 45);
}


